body {
  background: #fefffa;
  text-align: center;
  opacity: 0.7;
}

.main {
  margin: 0 auto;
  text-align: center;
  max-width: 620px;
}
.case-id {
  font-family: "Special Elite", system-ui;
  color: #670000;
}

.case-details {
  font-family: "Special Elite", system-ui;
  font-size: 10px;
  line-height: 14px;
}

.decision-title {
  font-family: "Special Elite", system-ui;
  color: #670000;
}

h1 {
  font-style: normal;
  color: #171616;
  font-size: 100px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.9;
  margin: 0 auto;
  margin-top: 40px;
  letter-spacing: -2px;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 26px;
  color: #171617;
  font-weight: lighter;
}
h3 {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  color: #171617;
  font-weight: 100;
}

p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #171616;
  font-size: 18px;
}

nav {
  background-color: #fefffa;
  padding: 3px;
  font-family: "EB Garamond", serif;
  font-weight: lighter;
  border: solid, #171616;
  border-width: 1px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  letter-spacing: 2px;
  margin: 0 auto;
}

nav a {
  color: #171616;
  text-decoration: none;
  font-weight: 100;
  transition: 0.3s;
  margin: 0 auto;
}

nav a:hover {
  color: #3b0303;
  cursor: pointer;
}

.chapteroptionone {
  background-color: rgba(13, 13, 13, 0.824);
  border: none;
  color: #fefffa;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
  transform: translateY(-2px);
}

.chapteroptionone:hover {
  color: #fefffa;
  background-color: #670000;
  border-width: 1px;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translateY(-2px);
}

.chapteroptiontwo {
  background-color: #fefffa;
  border: solid, #171616;
  border-width: 1px;
  color: #171616;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
  transform: translateY(-2px);
}

.chapteroptiontwo:hover {
  color: #fefffa;
  background-color: #670000;
  border-width: 1px;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translateY(-2px);
}

@media (max-width: 576px) {
  h1 {
    font-style: normal;
    color: #171616;
    font-size: 62px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  h2 {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    color: #171617;
    font-weight: 300;
  }

  .main {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
  }

  p {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #171616;
    font-size: 12px;
  }

  .case-id {
    font-family: "Special Elite", system-ui;
    color: #670000;
    font-size: 16px;
  }

  .case-details {
    font-family: "Special Elite", system-ui;
    line-height: 14px;
    font-size: 12px;
  }

  .decision-title {
    font-family: "Special Elite", system-ui;
    color: #670000;
  }

  nav {
    background-color: #fefffa;
    padding: 14px;
    font-family: "EB Garamond", serif;
    font-weight: lighter;
    border: solid, #171616;
    border-width: 2px;
    margin: 0 auto;
    text-align: center;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 18px;
    letter-spacing: 1px;
    font-size: 12px;
  }

  nav a {
    color: #171616;
    text-decoration: none;
    font-weight: 100;
    transition: 0.3s;
  }

  nav a:hover {
    color: #747474;
  }

  .chapteroptionone {
    padding: 18px 22px;
    font-size: 12px;
  }

  .chapteroptionone:hover {
    padding: 18px 22px;
    font-size: 12px;
  }

  .chapteroptiontwo {
    padding: 18px 22px;
    font-size: 12px;
    background-color: #fefffa;
    border: solid, #171616;
    border-width: 2px;
  }

  .chapteroptiontwo:hover {
    padding: 18px 22px;
    font-size: 12px;
  }
}
